@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Create Index</h1>
<hr />
<br />

<h3 asp-action="Create">Create Student</h3>



<hr />
<br />
@ViewBag.msg
<br />
<table class="table table-striped">

    @foreach (var item in Model)
    {
    <tr id="@("StudentId" + item.Id)">
        <td>@item.F_Name</td>
        <td>@item.L_Name</td>
        <td>@item.E_mail</td>
        <td>@item.Grades</td>
        <td><button asp-route-id="@item.Id" asp-action="Remove" type="button" class="btn btn-danger">Remove</button></td>
        <td><button asp-route-id="@item.Id" asp-action="Edit" type="button" class="btn btn-warning">Rename</button></td>
    </tr>
    }

</table>

