@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Create Index</h1>
<hr />
<br />

<a asp-action="Create">Create Student</a>
<a asp-action="Edit">Edit Student</a>
<a asp-action="Remove">Remove Student</a>

<hr />
<br />
<table>

    @foreach (var item in Model)
    {
        <tr id="@("StudentId" + item.Id)">
            <td>@item.F_Name</td>
            <td>@item.L_Name</td>
            <td>@item.E_mail</td>
            <td>@item.Grades</td>
        </tr>
    }

</table>

