@model List<Assignment>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Assignments</h1>

<a asp-action="Create" type="button" class="btn btn-success">Create Assignment</a>

<hr />
<br />
@ViewBag.msg
<br />
<table class="table table-striped">
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Student</td>
        <td>Course</td>
        <td></td>
        <td>Action</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="@("CourseId" + item.Id)">
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Student</td>
            <td>@item.Course</td>
            <td></td>
            <td>
                <a asp-route-id="@item.Id" asp-action="Details" type="button" class="btn btn-info">Details</a>&nbsp;
                <a asp-route-id="@item.Id" asp-action="Remove" type="button" class="btn btn-danger">Remove</a>&nbsp;
                <a asp-route-id="@item.Id" asp-action="Edit" type="button" class="btn btn-warning">Rename</a>&nbsp;
            </td>
        </tr>
    }

</table>
